@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    /* SemiBold or Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Happiness-Sans-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    /* cursor: pointer; */
}

html {
    font-family: 'Pretendard-Regular', sans-serif;
}

body {
    height: 100vh;
    cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 11.33 17.81'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M1873.63-629.71l-2.31-5.49-2.47,2.37v-10.92l8,8h-3.62l2.23,5.28Zm-.41,1.42,3.5-1.51-2-5h4.52l-11.33-11.35v15.65l3.17-3.07Z' transform='translate(-1867.87 646.1)'/%3E%3Cpolygon points='5.76 16.39 3.46 10.9 0.98 13.27 0.98 2.35 8.95 10.37 5.33 10.37 7.56 15.65 5.76 16.39'/%3E%3C/svg%3E"), auto;
}

div {
    cursor: url("data:image/svg+xml,%3Csvg width='55' height='44' viewBox='0 0 55 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M35.7095 17.1471C37.7064 22.3302 39.7849 27.7253 44.1141 30.7756L53.4585 37.3595C55.0801 38.502 55.4874 40.7704 54.3684 42.4261C53.2493 44.0817 51.0276 44.4977 49.406 43.3551L40.2594 36.9105C35.8975 33.8372 30.1504 33.8346 24.6433 33.8322C23.3143 33.8316 21.9991 33.831 20.7209 33.7873C16.8844 33.656 12.8157 32.3257 9.15572 29.7469C0.551326 23.6843 -2.53604 13.0175 2.25989 5.92183C7.05582 -1.17385 17.9189 -2.01137 26.5233 4.05117C30.1152 6.58198 32.7457 9.91517 34.2426 13.456C34.7473 14.6497 35.226 15.8922 35.7095 17.1471ZM29.5359 25.14C33.1828 19.7444 30.813 11.6177 24.243 6.98854C17.673 2.35938 9.39054 2.9807 5.74369 8.3763C2.09683 13.7719 4.46654 21.8986 11.0366 26.5277C17.6066 31.1569 25.889 30.5356 29.5359 25.14ZM17.0741 16.9159L12.1953 13.4784L12.9279 12.3944L17.8068 15.8319L17.0741 16.9159ZM18.1358 17.664L17.0741 16.9159L14.4922 20.736L9.61333 17.2984L12.1953 13.4784L11.1336 12.7303L11.8663 11.6463L12.9279 12.3944L15.7872 8.16408L20.666 11.6016L17.8068 15.8319L18.8685 16.58L18.1358 17.664ZM22.7181 20.8926L18.1358 17.664L15.5538 21.484L14.4922 20.736L13.7595 21.8199L8.88067 18.3824L9.61333 17.2984L8.55165 16.5504L11.1336 12.7303L6.09147 9.17771L6.82414 8.09373L11.8663 11.6463L14.7255 7.41602L15.7872 8.16408L16.5198 7.08009L21.3987 10.5176L20.666 11.6016L21.7277 12.3497L18.8685 16.58L23.4508 19.8086L22.7181 20.8926ZM23.7798 21.6407L22.7181 20.8926L20.1362 24.7127L15.5538 21.484L14.8212 22.568L13.7595 21.8199L11.1189 25.7268L12.1806 26.4748L14.8212 22.568L19.4035 25.7966L17.6967 28.3219L18.7584 29.0699L20.4652 26.5447L23.8978 28.9632L24.6304 27.8793L21.1979 25.4607L23.7798 21.6407ZM24.5125 20.5567L23.4508 19.8086L26.31 15.5783L27.3717 16.3264L24.5125 20.5567ZM28.1044 15.2424L27.3717 16.3264L30.2124 18.3279L30.9451 17.2439L28.1044 15.2424ZM27.0427 14.4943L26.31 15.5783L21.7277 12.3497L22.4604 11.2657L27.0427 14.4943ZM27.0427 14.4943L28.1044 15.2424L29.2187 13.5936L28.1571 12.8456L27.0427 14.4943ZM24.5125 20.5567L23.7798 21.6407L28.6118 25.0452L29.3445 23.9612L24.5125 20.5567ZM21.1979 25.4607L20.1362 24.7127L19.4035 25.7966L20.4652 26.5447L21.1979 25.4607ZM22.4604 11.2657L21.3987 10.5176L23.7899 6.9797L24.8516 7.72775L22.4604 11.2657ZM15.4582 6.33204L14.7255 7.41602L11.8098 5.36169L12.5425 4.2777L15.4582 6.33204ZM15.4582 6.33204L16.5198 7.08009L17.8488 5.11381L16.7872 4.36576L15.4582 6.33204ZM7.81898 17.6343L4.24334 15.115L4.976 14.031L8.55165 16.5504L7.81898 17.6343ZM7.81898 17.6343L8.88067 18.3824L7.10313 21.0123L6.04145 20.2642L7.81898 17.6343Z' fill='black'/%3E%3C/svg%3E%0A"), auto;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:focus {
    color: black;
}

.parent {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 2fr 0.3fr 2fr 0.3fr 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    font-size: 2.2rem;
    line-height: 1.15;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    border-bottom: 5px solid black;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    border-bottom: 5px solid black;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
    border-bottom: 5px solid black;
    /* text-align: right; */

    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 1rem;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
    border-right: 5px solid black;
    background-color: blanchedalmond;
}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
    border-right: 5px solid black;
    background-color: blanchedalmond;
}

.div6 {
    grid-area: 2 / 3 / 3 / 4;
    background-color: blanchedalmond;
}

.div7 {
    grid-area: 3 / 1 / 4 / 2;
    border-right: 5px solid black;
    border-bottom: 5px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.div8 {
    grid-area: 3 / 2 / 4 / 3;
    border-right: 5px solid black;
    border-bottom: 5px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.div9 {
    grid-area: 3 / 3 / 4 / 4;
    border-bottom: 5px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.div10 {
    grid-area: 4 / 1 / 5 / 2;
    border-right: 5px solid black;
    background-color: blanchedalmond;
}

.div11 {
    grid-area: 4 / 2 / 5 / 3;
    border-right: 5px solid black;
    background-color: blanchedalmond;
}

.div12 {
    grid-area: 4 / 3 / 5 / 4;
    background-color: blanchedalmond;
}

.div13 {
    grid-area: 5 / 1 / 6 / 2;
    border-right: 5px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.div14 {
    grid-area: 5 / 2 / 6 / 3;
    border-right: 5px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.div15 {
    grid-area: 5 / 3 / 6 / 4;

    display: flex;
    justify-content: center;
    align-items: center;
}

.div16 {
    grid-area: 6 / 1 / 7 / 2;
    border-top: 5px solid black;

    display: flex;
    /* justify-content: center; */
    align-items: center;

}

.div17 {
    grid-area: 6 / 2 / 7 / 4;
    border-top: 5px solid black;

    display: flex;
    align-items: flex-end;

    padding: 0.8rem;
    font-size: 1.25rem;
    user-select: none;

    text-align: right;

    display: flex;
    justify-content: right;
    padding-right: 1rem;
}

.filter {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 8rem;
    height: 2.5rem;
    background: #fff;
    border: 5px solid black;
    border-radius: 50px;

    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter_label {
    margin: 0.1rem;
}
