@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Happiness-Sans-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

div{
    cursor: pointer;
}

html {
    font-family: 'Pretendard-Regular', sans-serif;
}

body {
    height: 100vh;
}

/* -♡-♡-♡-♡-♡-♡- Hearts Start -♡-♡-♡-♡-♡-♡- */

.pinkHeart{
    width: 10%;
    height: 9%;
    background-image: url('../img/heart_pink.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.greenHeart{
    background-image: url('../img/heart_green.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.emoji_1{
    background-image: url('../img/emoji_1.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.emoji_2{
    background-image: url('../img/emoji_2.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* -♡-♡-♡-♡-♡-♡- Hearts End -♡-♡-♡-♡-♡-♡- */

.parent {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.4fr 2fr 2fr 0.4fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 2.2rem;
}

.div1 {
    grid-area: 1 / 1 / 2 / 5;
    border-bottom: 5px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    overflow: hidden;
}


.sub_1 {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    border-right: 5px solid black;
}

.sub_2 {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.div2 {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(90deg, rgba(67, 255, 143, 0.8) 0%, rgba(255, 255, 255, 1) 100%);
    grid-area: 2 / 1 / 4 / 2;
    border-right: 5px solid black;
}


.menu_g:hover {
    position: relative;
    background-image: 
    linear-gradient(90deg, transparent 37px, #000 37px, #000 40px),
    linear-gradient(#000 3px, transparent 3px);
    background-size: 40px 40px, 40px 40px;
    background-position: center, center;
    background-repeat: repeat, repeat;
    background-color: #43FF8F;
    transition: 4s;
}

.menu_p:hover {
    position: relative;
    background-image: 
    linear-gradient(90deg, transparent 37px, #000 37px, #000 40px),
    linear-gradient(#000 3px, transparent 3px);
    background-size: 40px 40px, 40px 40px;
    background-position: center, center;
    background-repeat: repeat, repeat;
    background-color: #FF33D9;
    transition: 5s;
}

.menu_inner{
    width: 100%;
    height: 100%;
    display: inline-grid;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.menu_inner:hover {
    background-image: 
    url(../img/heart_white.svg);
    background-size: 45vw 45vh;
    background-position-x: center;
    background-position-y: 55%;
    background-repeat: no-repeat;
}

.menu_inner:hover > .menu_title{
    margin-top: -20px;
}

.div3 .menu_inner:hover,
.div4 .menu_inner:hover,
.div5 .menu_inner:hover,
.div6 .menu_inner:hover {
    background-image: 
    url(../img/heart_white.svg);
    background-size: 50vw 37vh;
    background-position-x: center;
    background-position-y: 80%;
    background-repeat: no-repeat;
}

.menu_title{
    font-size: 2.2rem;
}

.div3 {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: #FF33D9;
    grid-area: 2 / 2 / 3 / 3;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

.div4 {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: #43FF8F;
    grid-area: 3 / 2 / 4 / 3;
    border-right: 5px solid black;
}

.div5 {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: #43FF8F;
    grid-area: 2 / 3 / 3 / 4;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

.div6 {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: #FF33D9;
    grid-area: 3 / 3 / 4 / 4;
    border-right: 5px solid black;
}

.div7 {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(270deg, rgba(255, 51, 217, 0.5) 0%, rgba(255, 255, 255, 1) 100%);
    grid-area: 2 / 4 / 4 / 5;
}

.div8 {
    grid-area: 4 / 1 / 5 / 5;
    border-top: 5px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.sub_3 {
    border-right: 5px solid black;
    display: inline-grid;
    align-items: center;
    padding-left: 3%;
    font-size: 1rem;
}

.sub_4 {
    display: inline-grid;
    justify-items: right;
    align-items: center;
    padding: 0.8rem;
    font-size: 1.25rem;
    user-select:none
}

.mobile {
    display: inline-grid;
    justify-items: right;
    align-items: center;
    padding: 0.8rem;
    display: none;
}
