  /* -0-0-0-0-0-0- Toggle switch -0-0-0-0-0-0- */
  .wrap {
    bottom: 0;
    display: flex;
    gap: 0px 5px;
    grid-template-areas:
      "a b";
      letter-spacing: -0.5px;
      line-height: 1.2;
    /* padding: 0.2rem; */
    /* align-content: center */
  }

  /* -0-0-0-0-0-0- switch_color -0-0-0-0-0-0- */
  #switch_color {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .switch_label_color {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 5rem;
    height: 2.5rem;
    background: #fff;
    border: 5px solid black;
    border-radius: 50px;
    transition: 0.2s;
  }

  .switch_label_color:hover {
    background: #efefef;
  }

  .onf_btn_color {
    position: absolute;
    top: 2px;
    left: 3px;
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 4px solid black;
    border-radius: 100%;
    background: #43FF8F;
    transition: 0.2s;
  }

  /* ---- checking style ---- */
  #switch_color:checked+.switch_label_color .onf_btn_color {
    left: 40px;
    background: #FF33D9;
    box-shadow: 1px 2px 3px #00000020;
  }

  /* -0-0-0-0-0-0- switch_kr -0-0-0-0-0-0- */

  #switch_language {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .switch_label_language {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 6.5rem;
    height: 2.5rem;
    background: #fff;
    border: 5px solid black;
    border-radius: 50px;
    transition: 0.2s;
  }

  .switch_label_language:hover {
    background: #efefef;
  }

  .onf_btn_language {
    position: absolute;
    top: 2px;
    left: 3px;
    display: inline-block;
    width: 45px;
    height: 28px;
    border: 4px solid black;
    border-radius: 20px;
    background: #FF33D9;
    text-align: center;
    transition: 0.2s;
    font-size: 1.52rem;
    line-height: 1.8rem;
    user-select: none;
  }

  /* ---- checking style ---- */
  #switch_language:checked+.switch_label_language .onf_btn_language {
    left: 45px;
    background: #43FF8F;
    box-shadow: 1px 2px 3px #00000020;
  }

  @media (max-width: 820px) {
    .wrap {
      padding: 0;
      bottom: 0;
      display: flex;
      grid-template-areas:
        "a b";
    }

    .switch_label_color {
      border: 4px solid black;
    }

    .switch_label_language {
      border: 4px solid black;
    }

    /* .onf_btn_color {

    }

    .onf_btn_language {

    } */
  }

  @media (max-height: 820px) {
    .wrap {
      margin-bottom: 1vh;
    }
  }

  @media (max-height: 750px) {
    .wrap {
      margin-bottom: 0.5vh;
    }
  }

  @media (max-height: 700px) {
    .wrap {
      margin-bottom: 0.1vh;
    }
  }